## Package use tutorial

In [19]:
import sys
# This need to be the directory of the package stored
# Make sure this is correct, otherwise, nothing will work
sys.path.append('situkun123/House-price-london/package/')
import zoopapp
import zoopasql as zql
from zoopasql import zoopdatabase

### Basics

In [5]:
# initialising the house_data package, the data collection is based on postcode
# Just enter the postcode prefix, in this case 'E8'(Hackeny) was entered.
sess = zoopapp.house_data('E8')

Currently updating E8

### Class properties

In [6]:
# postcode
sess.postcode

'E8'

In [7]:
# District Name (Be aware, not all london postcode are included in the districtName)
# More detail can be found in the zoopasql package
sess.districtName

'Hackney'

In [8]:
# Number of current listed properties for this postcode on Zoopala
sess.listnumber

307

In [10]:
# The associated urls
sess.urls
# In this case 4 pages

['https://www.zoopla.co.uk/for-sale/property/london/e8/hackney-dalston/?identifier=london%2Fe8%2Fhackney-dalston&amp;q=property%20london%20e8&amp;radius=0&amp;pn=1&amp;page_size=100',
 'https://www.zoopla.co.uk/for-sale/property/london/e8/hackney-dalston/?identifier=london%2Fe8%2Fhackney-dalston&amp;q=property%20london%20e8&amp;radius=0&amp;pn=2&amp;page_size=100',
 'https://www.zoopla.co.uk/for-sale/property/london/e8/hackney-dalston/?identifier=london%2Fe8%2Fhackney-dalston&amp;q=property%20london%20e8&amp;radius=0&amp;pn=3&amp;page_size=100',
 'https://www.zoopla.co.uk/for-sale/property/london/e8/hackney-dalston/?identifier=london%2Fe8%2Fhackney-dalston&amp;q=property%20london%20e8&amp;radius=0&amp;pn=4&amp;page_size=100']

### Class functions

### get_data fuction
- return data includes __property_id, price, bed_no, address, property_type, listed_time, agent, first_station, second_station__
- either in dataframe or tuples

In [11]:
# Get data in pandas dataframe format
df = sess.get_data(as_pandas=True)
df.head()

{'User-Agent': 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10_10_1) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/37.0.2062.124 Safari/537.36'}
7 7 7 7 14
{'User-Agent': 'Mozilla/5.0 (Windows NT 6.0; rv:2.0) Gecko/20100101 Firefox/4.0 Opera 12.14'}
{'User-Agent': 'Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKit/537.17 (KHTML, like Gecko) Chrome/24.0.1312.60 Safari/537.17'}
{'User-Agent': 'Mozilla/5.0 (Windows NT 5.1) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/34.0.1847.116 Safari/537.36 Mozilla/5.0 (iPad; U; CPU OS 3_2 like Mac OS X; en-us) AppleWebKit/531.21.10 (KHTML, like Gecko) Version/4.0.4 Mobile/7B334b Safari/531.21.10'}
100 100 100 100 200
100 100 100 100 200
100 100 100 100 200
Time taken: 2.84 s

,property_id,price,bed_no,address,property_type,listed_time,agent,first_station,second_station
184,48940341,995000.0,4.0,"Celandine Drive, Hackney E8",house,2018-09-05,"Foxtons - Hackney, E8",Haggerston,Dalston Junction
216,48394965,975000.0,2.0,"Martello Street, London E8",flat,2018-07-16,"Dexters - Hackney, E8",London Fields,Hackney Central
118,49305835,975000.0,2.0,"Martello Street, London E8",flat,2018-10-10,"Stirling Ackroyd - Hackney, E8",London Fields,Hackney Central
181,44554998,950000.0,4.0,"Fassett Square, London E8",house,2018-09-06,"Purplebricks, Head Office, B90",Hackney Downs,Hackney Central
225,48206014,950000.0,3.0,"Dalston Square, Dalston E8",flat,2018-07-02,"Foxtons - Hackney, E8",Dalston Junction,Dalston Kingsland

In [13]:
# Get data in tuple format
data = sess.get_data(as_pandas=False)
data[:5]

{'User-Agent': 'Mozilla/5.0 (X11; CrOS i686 3912.101.0) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/27.0.1453.116 Safari/537.36'}
7 7 7 7 14
{'User-Agent': 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10_8_2) AppleWebKit/537.17 (KHTML, like Gecko) Chrome/24.0.1309.0 Safari/537.17'}
{'User-Agent': 'Mozilla/5.0 (Macintosh; U; Intel Mac OS X 10_6_5; de-de) AppleWebKit/534.15+ (KHTML, like Gecko) Version/5.0.3 Safari/533.19.4'}
{'User-Agent': 'Mozilla/5.0 (Windows NT 6.2; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/32.0.1667.0 Safari/537.36'}
100 100 100 100 200
100 100 100 100 200
100 100 100 100 200
Time taken: 2.8 s

[('49839400',
  '700000',
  '3',
  'Burke House, Dalston Square, London E8',
  'flat',
  '30th Nov 2018',
  'Stirling Ackroyd - Dalston, E8',
  'Dalston Junction',
  'Dalston Kingsland'),
 ('49838690',
  '600000',
  '2',
  'Martello Street, London E8',
  'flat',
  '30th Nov 2018',
  'Atkinson Mcleod - Canary Wharf, E14',
  'London Fields',
  'Hackney Central'),
 ('49833719',
  '895000',
  '4',
  'London Lane, Hackney E8',
  'house',
  '30th Nov 2018',
  'Southern Home Ownership, EC1M',
  'London Fields',
  'Hackney Central'),
 ('49827875',
  '650000',
  '2',
  'Roseberry Place, Dalston E8',
  'flat',
  '29th Nov 2018',
  'Foxtons - Hackney, E8',
  'Dalston Junction',
  'Dalston Kingsland'),
 ('49827060',
  '750000',
  '2',
  'Mare Street, London E8',
  'flat',
  '29th Nov 2018',
  'Dexters - Hackney, E8',
  'London Fields',
  'Hackney Central')]

### get_stats fuction
- return two sets of data in tuples, first one is about daily stats , second one is about stats related to different size of properties

In [14]:
stats = sess.get_stats()

#### cloumns are __('postcode', 'search_time', 'all_no', 'all_min_price', 'all_max_price',  'all_avg_price', 'all_std', 'flat_no', 'flat_min_price', 'flat_max_price', 'flat_avg_price', 'flat_std','house_no', 'house_min_price', 'house_max_price', 'house_avg_price', 'house_std')__

In [17]:
daily = stats[0]

('E8',
 '2018-11-30 18:00:54',
 300,
 190000.0,
 3250000.0,
 718991.0,
 390221.613,
 223,
 190000.0,
 1250000.0,
 582065.0,
 165638.0,
 77,
 375000.0,
 3250000.0,
 1115544.0,
 549783.0)

#### columns are __('postcode', 'search_time','one_no', 'one_min_price', 'one_max_price',  'one_avg_price', 'one_std','two_no', 'two_min_price', 'two_max_price', 'two_avg_price', 'two_std','three_no', 'three_min_price', 'three_max_price', 'three_avg_price', 'three_std','four_no', 'four_min_price', 'four_max_price', 'four_avg_price', 'four_std','fivep_no', 'fivep_min_price', 'fivep_max_price', 'fivep_avg_price', 'fivep_std')__

In [18]:
bedroom = stats[1]
bedroom

('E8',
 '2018-11-30 18:00:54',
 78,
 190000.0,
 870000.0,
 450358.0,
 97061.984,
 110,
 382500.0,
 1250000.0,
 607000.0,
 138699.297,
 69,
 475000.0,
 1695000.0,
 829514.0,
 262519.696,
 26,
 425000.0,
 2250000.0,
 1076308.0,
 457869.714,
 17,
 825000.0,
 3250000.0,
 1681118.0,
 579928.483)

### singleURL2data fuction
- Get the data from a single url 
- It's a class method
- Returns a dataframe

In [20]:
# The search is any properties near Old Street station within 1/4miles
# The url is copy from the internet browser
df = zoopapp.house_data.singleURL2data(url='https://www.zoopla.co.uk/for-sale/property/station/rail/old-street/?q=Old%20Street%20Station%2C%20London&radius=0.25&results_sort=newest_listings&search_source=refine')

{'User-Agent': 'Mozilla/5.0 (X11; CrOS i686 4319.74.0) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/29.0.1547.57 Safari/537.36'}
25 25 25 25 50

In [21]:
df.head()

,property_id,price,bed_no,address,property_type,listed_time,agent,first_station,second_station
0,49821942,1800000,2,"Mallow Street, London EC1Y",flat,29th Nov 2018,"Ellis &amp; Co - Islington, N1",Old Street,Old Street
1,49812774,499995,2,"St Lukes Estate, Bath Street, Clerkenwell EC1V",flat,28th Nov 2018,"N16 Estate Agency, N16",Old Street,Old Street
2,49762702,875000,2,"The Apex Building, Old Street EC1Y",flat,23rd Nov 2018,"Urban Spaces Sales, EC1M",Old Street,Old Street
3,49757098,875000,2,"Bunhill Row, London EC1Y",flat,22nd Nov 2018,"Space Station, EC2A",Old Street,Old Street
4,49753853,1995000,3,"The Makers, Nile Street N1",flat,22nd Nov 2018,Hurford Salvi Carr - Islington &amp; Shoreditc...,Old Street,Old Street